body {
	background: ##F8F8F8;
}
.span9 {
background: #6666FF;
}
.span6{
background-color: #993300;
}
#head-title {
	color: #6666FF;
}

#main {
	width: 700px;
	height: 450px;
	border: 2px solid #E0E0E0;
	margin: auto;
	margin-top: 20px;
	/*background: #FFFFFF;*/
}
#errlab {
	color: #F80000 ;
}
