body {
	background: #FFF;
	color: #666666;
	text-align: center;
	font-family: 'Segoe UI';
}

.header {
	text-align: left;
}

/* main */
.main {
	margin: 30px;
	background: #FFF;
}

/* title */

/*content*/
.content {
	clear: both;
}

.folder {
	display: inline;
	background: #EEEEEE;
	color: #666666;
	font-size: 12px;
	float: left;
	width: 398px;
	height: 60px;	
	margin-right: 26px;
	margin-bottom: 20px;

	}
/*
.folder:hover  input { visibility: visible; }
*/
.folderLink {
	display:inline;
	background: #EEEEEE;
	color: #666666;
	font-size: 12px;
	float: left;
	width: 398px;
	height: 60px;	
	border: 1px solid #DBD3D3; 
	overflow: visible;
}

.childrenCount {
	position: absolute; 
	left:3px; 
	bottom:1px;
	font-size:8pt;
}

.folderLink:hover {
	border: 1px solid #000;	
	color: #345765;
}

.folderLinkImg {
	height: 58px;
	width: 60px;
	background:#DDDDDD;
	display: inline;
	float: left;
	text-align: center;
	position: relative; 
}

.folderLink img {
	background: #DDDDDD;
	margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
	height: 32px;
	width: 32px;
}

.folderLinkText {
	height: 60px;
	text-align: left;
	width: 308px;
	overflow: hidden;
	float: left;
	position: relative; 
}

.folderLinkText p {
    margin-top: 5px;
    margin-left: 10px;
	max-width: 318px;
    max-height: 70%;
    margin: 10;
    padding: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
}


.clear { 
	clear: both; 
	height: 50px;
}

.clearfix{ 
	clear: both; 
}

.folder input {	
	position: relative; 
	float: right;
	top: -59px;
	right: 5px;
	visibility: hidden;

}
.folder input  :hover +.folderLink {
}
.folder:hover  .folderLink { 
	border: 1px solid #000;	
	color: #345765;
}
.brand{
	position: relative; 
	float: left;
}
.breadcrumb{
	margin: 20px;
	text-align: left;
	background: #FFFFFF;
}
.link {
	background: #FFFFFF;
	color: #345765;
	font-size: 13pt;
}
.breadcrumb :hover {
	color: #00BFFF;
}
#mainbrand{
	background: #F5F5F5;
}