body {
--background: url(../img/земля.jpg);
background: #AFEEEE;
}
#container {
background: #FFFF00;
}
#row1 {
height: 50px;
background: #F0FFFF;
}
.row .span12 .span6 {
background: #FFD700;
}
#row2 {
height: 50px;
background: #D8BFD8	;
}
#row3 {
margin-bottom: 50px;
height: 400px;
background: #F0FFFF;
}
#left {
height: 300px;
--background: #FF0000;
}
#right {
height: 300px;
--background: #FFD700;
}
#row3-1 {
height: 100px;
}
#prewiew-row {
display: table-cell;
vertical-align: middle;
text-align: center;
}
#one {
--background: #B0C4DE;
}
#two {
margin-right: 0px;
--background: #4682B4;
}
#navigation {

}
